body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    width: 90%;
    max-width: 400px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.7);
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

div a {
    display: block;
    margin: 10px auto;
    padding: 10px 0;
    width: 80%;
    background-color: #9b30ff;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    border-radius: 50px;
    text-align: center;
}

div a:hover {
    background-color: #6f1d9b;
}