* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    background-image: url("https://images.squarespace-cdn.com/content/v1/5fe4caeadae61a2f19719512/f684e7f8-d10c-4d32-8515-1fe140779b4a/Chrollo+Lucilfer%27s+Dark+Majesty?format=2500w");
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment: fixed;
}

nav {
    background-color: rgb(0, 0, 0, 0.5);
    padding: 10px 0;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #f4f4f9;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ff8c00;
}

.container {
    text-align: center;
    padding: 50px 20px;
}

h1 {
    font-size: 2.5em;
    color: #ffffff;
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
    color: #ffffff;
    line-height: 1.6;
    margin-bottom: 10%;
    margin-left: 10%;
    margin-right: 10%;
}