body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url("https://www.slsc.org/wp-content/uploads/2023/02/tardis-doctor-who.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container {
    text-align: center;
    width: 90%;
    max-width: 400px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.7);
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

div a {
    display: block;
    margin: 10px auto;
    padding: 10px 0;
    width: 80%;
    background-color: #4c87af;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    border-radius: 50px;
    text-align: center;
}

div a:hover {
    background-color: #366d91;
}

@media (max-width: 768px) {
    .container {
        width: 95%;
        padding: 15px;
    }

    h1 {
        font-size: 20px;
    }

    div a {
        font-size: 14px;
        width: 100%;
    }
}

@media (max-width: 480px) {
    .container {
        width: 100%;
        padding: 10px;
    }

    h1 {
        font-size: 18px;
    }

    div a {
        font-size: 12px;
    }
}
